{#
/**
 * @file penyelenggara.html.twig
 * Default theme implementation to present Penyelenggara data.
 *
 * This template is used when viewing Penyelenggara pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_penyelenggara()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('penyelenggara') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
